{% extends 'baseUser.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="index-page">
        <div class="index-band">
            <h1 class="text-center">GAUTIER <span>FONDEVILA</span></h1>
            <h2 class="text-center"><span>Web</span> developer</h2>
        </div>
    </div>



{% endblock %}
