{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    {% include "partials/_UserNavbar.html.twig" %}

    <div class="background">
        <div class="index_page">
            <div class="index_filter">
                <div class="index_title">
                    <h1 class="text-center">GAUTIER <span class="txt_blue txt_blod">FONDEVILA<span></h1>
                    <h2 class="text-center"><span class="txt_blue txt_blod">Web</span> developer</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
