{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin - Index{% endblock %}

{% block body %}

    <div class="admin_index_title">
        <h3>Bienvenue dans le panneau d'administration</h3>
    </div>
    
{% endblock %}
