{% extends 'base.html.twig' %}

{% block title %}Admin - Index{% endblock %}

{% block body %}

{% include "partials/_AdminNavbar.html.twig" %}

    <div class="background_admin">
        <div class="admin_page">
            <h1 class="text-center">Bienvenue dans le panneau d'administration</h1>
        </div>
    </div>

{% endblock %}
