{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Portfolio{% endblock %}

{% block body %}

	<div class="admin_project_edit">
		<h3 class="text-center">Modifier le projet</h3>
		{{ include('admin_project/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
	</div>
	
{% endblock %}
