h2{
    font-size: 3em;
    margin: 50px 0 50px 0;
}

.admin_message_index, .admin_message_show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    table{
        width: 90%;

        button{
            width: 100px;
            background-color: rgb(24, 102, 8);
            border-radius: 5px;
        }
    }
}

.admin_message_show{

    .button{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    
        button{
            width: 200px;
            background-color: rgb(24, 102, 8);
            border-radius: 5px;
        }
    }
}