.background{
    width: calc(100vw - 300px);
    min-height: 100vh;
    position: fixed;
    left: 300px;
    background-image: url(../images/mountain.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_admin{
    width: calc(100vw - 300px);
    min-height: 100vh;
    position: fixed;
    left: 300px;
    background-image: url(../images/ws.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}