.main-user{
    background-image: url(../images/mountain.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.main-admin{
    background-image: url(../images/ws.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}