.login-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    form{
        width: 40%;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        input{
            margin: 0 0 20px 0;
        }

        .button{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0 0 0;
        
            button{
                width: 50%;
                align-self: center;
                background-color: rgb(20, 130, 160);
                color: white;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .login-page{
        width: calc(100vw - 300px);;
    }
}